/*
   Author profile and links
   ========================================================================== */

.author__avatar {
  img {
    display: block;
    width: 100%;
    max-height: 120px;
    border-radius: 50%;
  }
}
